

.pure-g {
	text-align: center;
}

.pure-g > div {
	box-sizing: border-box;
	padding: 2px;
	margin: auto;
}

#progress {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
}


#error {
	display: none;
	width: 100%;
	text-align: left;
}

.button-error {
	background: rgb(202, 60, 60); /* this is a maroon */
	color: white;
}
